# SPDX-FileCopyrightText: Copyright (c) 2023-2024 NVIDIA CORPORATION & AFFILIATES. All rights reserved.
# SPDX-License-Identifier: BSD-3-Clause
#

# Editor Config plugs into all the major editors and configures a few simple
# settings for indent and newline conventions.
# See http://editorconfig.org for file details

# Stop searching for more .editorconfig files above this directory
root = true

# editor config files
[.editorconfig]
trim_trailing_whitespace = true
insert_final_newline = true

# C++/CUDA source file options
[*.{cpp,h,cu}]
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
insert_final_newline = true

# CMake source file options
[CMakeLists.txt]
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
insert_final_newline = true
