[submodule "DemandLoading"]
	path = DemandLoading
	url = ../otk-demand-loading.git 
[submodule "examples"]
	path = examples
	url = ../otk-examples.git 
[submodule "OmmBaking"]
	path = OmmBaking
	url = ../otk-omm-baking.git 
[submodule "ShaderUtil"]
	path = ShaderUtil
	url = ../otk-shader-util.git 
[submodule "PyOptiX"]
	path = PyOptiX
	url = ../otk-pyoptix.git 
[submodule "CMake"]
	path = CMake
	url = ../otk-cmake.git 
