[submodule "DemandLoading"]
	path = DemandLoading
	url = https://gitlab-master.nvidia.com/raven/otk-demand-loading.git 
	branch = master
[submodule "examples"]
	path = examples
	url = https://gitlab-master.nvidia.com/raven/otk-examples.git 
	branch = master
[submodule "OmmBaking"]
	path = OmmBaking
	url = https://gitlab-master.nvidia.com/raven/otk-omm-baking.git 
	branch = master
[submodule "ShaderUtil"]
	path = ShaderUtil
	url = https://gitlab-master.nvidia.com/raven/otk-shader-util.git 
	branch = master
[submodule "PyOptiX"]
	path = PyOptiX
	url = https://gitlab-master.nvidia.com/raven/otk-pyoptix.git 
	branch = master
[submodule "CMake"]
	path = CMake
	url = https://gitlab-master.nvidia.com/raven/otk-cmake.git 
	branch = master
